.editor {
  --ifm-color-scheme: light;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-900);
  border-top: 1px solid var(--ifm-color-gray-800);
}

.editor__submenu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.editor__group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.editor__group + .editor__group {
  border-left: 1px solid var(--ifm-color-gray-800);
}

.editor__select {
  cursor: pointer;
  border: none;
  border-radius: var(--ifm-global-radius);
  height: 2rem;
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-900);
}

.editor__control {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;

  color: var(--ifm-color-gray-100);
  background-color: transparent;

  border-radius: var(--ifm-global-radius);
  height: 2rem;
  width: 2rem;
}

.editor__icon {
  font-family: 'Material Icons';
  font-size: 1.25rem;
  line-height: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor__loading {
  display: inline-block;
  animation: spin 2s linear infinite;
}

.editor__control:hover {
  background-color: var(--ifm-color-gray-600);
}

.editor__control--active {
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-700);
}

.editor__page {
  color: var(--ifm-color-gray-1000);
  background-color: var(--ifm-color-gray-100);
  flex-grow: 1;
  overflow-y: auto;
}

.editor__content {
  min-height: 100%;
  margin: 0 15%;
  padding: 4rem 10%;
  background-color: var(--ifm-color-gray-0);
}

.editor .button {
  color: var(--ifm-color-gray-0);
}

.codeblock {
  background-color: var(--ifm-color-gray-100);
  border-radius: var(--ifm-global-radius);
}

.codeblock__language {
  color: var(--ifm-color-gray-1000);
  background-color: var(--ifm-color-gray-200);
  cursor: pointer;
  height: 2rem;
  width: 100%;
  padding-left: var(--ifm-pre-padding);
  border: 0;
  border-radius: var(--ifm-global-radius) var(--ifm-global-radius) 0 0;

  font-family: var(--ifm-font-family-base);
  font-size: var(--ifm-code-font-size);
  font-weight: 500;
}

.editor__announcements {
  font-size: 70%;
  font-weight: 600;
  color: var(--ifm-color-gray-600);
  background-color: var(--ifm-color-gray-900);
}

.ProseMirror-focused:focus {
  outline: none;
}
